body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(137deg, #202020 17.24%, #101010 97.08%);
}

#app {
  margin: 0 auto;
}
